[{distillery,[{config_providers,[]}]},
 {sasl,[{errlog_type,error},{sasl_error_logger,false}]},
 {phoenix,[{json_library,'Elixir.Jason'}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {tasks2,
     [{ecto_repos,['Elixir.Tasks2.Repo']},
      {'Elixir.Tasks2Web.Endpoint',
          [{secret_key_base,
               <<"ZQQjucza7kdr7QrcFCC5or2PAwdeWEYKg6AEeVdo+N3D+sYvH/KyeNkIcUp6GZSn">>},
           {render_errors,
               [{view,'Elixir.Tasks2Web.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Tasks2.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[inet6,{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"hw07.ezthrowaway.host">>},{port,80}]},
           {server,true},
           {root,<<".">>},
           {version,nil},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>}]},
      {'Elixir.Tasks2.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"tasks">>},
           {password,<<"sub2pews">>},
           {database,<<"tasks2111_prod">>},
           {pool_size,10}]}]}].
